<div class="m-left">
    <div class="top-nav-container">
        <nav aria-label="breadcrumb" class="ms-2">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">О компании</li>
            </ol>
        </nav>

        <div class="title-container">
            <h2 class="b-h-text ms-2" style="color: black">О КОМПАНИИ ООО "ЦЕЛИТЕЛЬ"</h2>
        </div>
    </div>
</div>

<div class="m-left mt-5">
    <p class="ms-2">Добрая аптека - это удобная интернет аптека лекарственных препаратов и медицинских изделий по низким ценам. В нашем онлайн-каталоге представлен большой выбор товаров с описанием и инструкциями по применению. Быстрый поиск позволяет найти лекарство в два клика и посмотреть его наличие в аптеках. Вам не надо тратить время в очередях и искать другую аптеку, если нужный препарат временно отсутствует. </p>    
    <p class="ms-2">Делать покупки в интернет аптеке Добрая аптека также просто, как и в обычной. Здесь вы можете не торопиться и выбирать всё, что нужно, в спокойной обстановке. Добавляйте позиции в заказ кнопкой «В корзину», оформляйте заказ, указав свои контактные данные, забирайте и оплачивайте в ближайшей аптеке.</p>    
</div>

<div class="m-left">
    <h4 class="ms-2 mt-5 b-h-text">Реквизиты и лицензия</h4>
</div>

<div class="company-info m-left mt-1 ">
    <div class="info-module me-5  ms-2" style="width: 70%;">
        <p class="mb-3">Лицензия на осуществление фармацевтической деятельности: ЛО-29-02-001249</p>    
        <p class="mb-3">Основной вид деятельности: хранение лекарственных препаратов для медицинского применения, розничная торговля лекарственными препаратами для медицинского применения, отпуск лекарственных препаратов для медицинского применения.</p>    
            
        <p class="mb-3">Юридический адрес: 163060, г. Архангельск, ул, Тимме Я., д 2, пом. 6</p>
    </div>

    <div class="info-module me-5" style="text-align: start;">
        <p class="mb-1">ИНН: 2901161825</p>
        <p class="mb-1">ОГРН:1072901004219</p> 
        <p class="mb-1">КПП: 290101001</p> 
        <p class="mb-1">р/c: 40702810004000000151</p> 
        <p class="mb-1">к/c: 30101810100000000601</p> 
        <p class="mb-1">Банк: Отделение № 8637 ПАО Сбербанк г.Архангельск</p> 
    </div>

    <div class="info-module me-5" style="text-align: start;">  
        <p class="mb-1">Адрес офиса: 63060, г. Архангельск, ул, Тимме Я., д 2, пом. 6</p>
        <p class="mb-1">Режим работы: пн-пт с 10:00 до 17:00</p> 
        <p class="mb-1">E-mail: info@d-apteka.ru</p> 
        <p class="mb-1">Тел.: 8 (800) 250-65-21</p> 
    </div>
</div>
