<footer>
    <div class="footer-items-container">
        <div class="row-1">
            <ul>
                <li routerLink="/company" class="list-item">О проекте</li>
                <li routerLink="/user-agreement" class="list-item">Пользовательское соглашение</li>
                <li routerLink="/contacts" class="list-item">Наши аптеки</li>
                <li class="list-item">2022 © Добрая аптека</li>
            </ul>
        </div>

        <div class="row-2 ps-5">
            <ul>
                <li routerLink="/news/archive" class="list-item">Архив новостей</li> 
                <li routerLink="/account" class="list-item">Личный кабинет</li> 
                <li class="list-item">Информация предоставляется в справочных целях. Не занимайтесь самолечением. При первых признаках заболевания обратитесь к врачу.</li>
            </ul>
        </div>
    </div>
</footer>