USE [WebStore]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 16.05.2022 21:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 16.05.2022 21:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 16.05.2022 21:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categorys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 16.05.2022 21:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [real] NOT NULL,
	[IsStock] [bit] NOT NULL,
	[StockCount] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ManufactureId] [int] NULL,
	[SubstanceId] [int] NULL,
	[DosageDescription] [nvarchar](max) NULL,
	[IsDiscount] [bit] NOT NULL,
	[DiscountPrice] [real] NULL,
	[ExpiryDate] [nvarchar](max) NULL,
	[StorageCondition] [nvarchar](max) NULL,
	[Indications] [nvarchar](max) NULL,
	[Contraindications] [nvarchar](max) NULL,
	[Usage] [nvarchar](max) NULL,
	[ItemContent] [nvarchar](max) NOT NULL,
	[SideEffect] [nvarchar](max) NULL,
	[VisitCount] [int] NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufactures]    Script Date: 16.05.2022 21:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufactures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Manufactures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MapItems]    Script Date: 16.05.2022 21:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MapItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[WorkTime] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
 CONSTRAINT [PK_MapItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 16.05.2022 21:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[MapItemId] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Substances]    Script Date: 16.05.2022 21:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Substances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Substances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16.05.2022 21:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[Role] [int] NOT NULL,
	[RegDate] [datetime2](7) NOT NULL,
	[IsGuest] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220329101052_Temp', N'6.0.3')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Аллергия')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Грипп, простуда, ОРЗ')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Рецептурные товары')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([Id], [Name], [Image], [Description], [Price], [IsStock], [StockCount], [CategoryId], [ManufactureId], [SubstanceId], [DosageDescription], [IsDiscount], [DiscountPrice], [ExpiryDate], [StorageCondition], [Indications], [Contraindications], [Usage], [ItemContent], [SideEffect], [VisitCount]) VALUES (7, N'Аллервэй Экспресс', N'2', N'Каждая таблетка, диспергируемая в полости рта, содержит:

действующее вещество: левоцетиризина дигидрохлорид 5,00 мг;

вспомогательные вещества: бетадекс, маннитол, кремния диоксид коллоидный безводный, крахмал кукурузный, лимонная кислота безводная, целлюлоза микрокристаллическая (102), кросповидон, аспартам, магния стеарат.', 360, 1, 50, 1, 2, 2, N'Положить таблетку на язык, где она сразу же начнет растворяться. Держать во рту в течение нескольких секунд до полного рассасывания.

Специальные указания при обращении с препаратом.', 0, NULL, N'3 года', N'При температуре не выше 25 °C.

Хранить в недоступном для детей месте.', N'Лечение симптомов аллергических ринитов (включая круглогодичный (персистирующий) и сезонный (интермиттирующий) аллергические риниты) и аллергического конъюнктивита, таких как зуд, чихание, заложенность носа, ринорея (выделения из носа), слезотечение, гиперемия конъюнктивы (покраснение глаз).

Поллиноз (сенная лихорадка).

Крапивница.', N'Повышенная чувствительность к действующему веществу, цетиризину, гидроксизину, любому производному пиперазина или к любому другому вспомогательному веществу препарата.

Терминальная стадия почечной недостаточности (КК < 10 мл/мин).

Гомозиготная фенилкетонурия (препарат содержит аспартам).

Детский возраст до 6 лет (для данной лекарственной формы).', N'Взрослые и дети старше 6 лет

Продолжительность приема препарата

При лечении сезонного (интермиттирующего) аллергического ринита (наличие симптомов менее 4-х дней в неделю или их общая продолжительность менее 4-х недель) продолжительность лечения зависит от длительности симптоматики; лечение может быть прекращено при исчезновении симптомов и возобновлено при их появлении.

При лечении круглогодичного (персистирующего) аллергического ринита (наличие симптомов более 4-х дней в неделю и их общая продолжительность более 4-х недель) лечение может продолжаться в течение всего периода воздействия аллергенов.

Имеется клинический опыт непрерывного применения левоцетиризина у взрослых пациентов длительностью до 6 месяцев.

Если Вы принимаете или недавно принимали другие препараты, сообщите об этом лечащему врачу.

Если Вы забыли принять препарат, не принимайте двойную дозу для компенсации пропущенной, примите следующую дозу в обычное время.', N'Таблетки, коробка, 10 шт, 5 мг, для приема внутрь', N'Данные по безопасности, полученные при изучении цетиризина

Наблюдались следующие нежелательные реакции:

Редко (≥ 1/10 000, < 1/1 000)

Встречались легкие и временные нежелательные явления, такие как утомляемость, нарушение концентрации, сонливость, головная боль, головокружение, возбуждение, сухость во рту и желудочно-кишечные расстройства (запор). В некоторых случаях наблюдались реакции гиперчувствительности и ангионевротический отек.

Данные клинических исследований

Клинические исследования показали, что у 14,7% пациентов, принимавших левоцетиризин в дозе 5 мг, наблюдались нежелательные реакции в сравнении с 11,3% у пациентов группы плацебо. 95% данных нежелательных реакций были легкими или умерено выраженными.

В клинических исследованиях частота прекращения терапии вследствие развития побочных реакций составила 0,7% (4/538) у пациентов, рандомизированных для получения левоцетиризина в дозе 5 мг, и 0,8% (3/382) для пациентов, рандомизированных в группу плацебо.

Следующие нежелательные реакции были выявлены у пациентов (n=538), участвовавших в клиническом исследовании и применявших левоцетиризин в рекомендованных дозах (5 мг один раз в сутки):

С частотой 1-10%

Хотя частота случаев сонливости в группе левоцетиризина была выше, чем таковая в группе плацебо, в большинстве случаев это нежелательное явление было легкой или умеренной степени тяжести.

Пострегистрационные исследования

Нарушения со стороны иммунной системы

Нарушения со стороны обмена веществ и питания

Нарушения психики

Нарушения со стороны нервной системы

Нарушения со стороны органа зрения

Нарушения со стороны сердца

Нарушения со стороны сосудов

Нарушения со стороны дыхательной системы, органов грудной клетки и средостения

Нарушения со стороны кожи и подкожных тканей

Нарушения со стороны желудочно-кишечного тракта

Нарушения со стороны печени и желчевыводящих путей

Нарушения со стороны скелетно-мышечной и соединительной ткани

Нарушения со стороны почек и мочевыводящих путей

Общие расстройства и нарушения в месте введения

Лабораторные и инструментальные данные

Описание отдельных нежелательных реакций

У малого количества пациентов наблюдался зуд после прекращения применения левоцетиризина.

Если у Вас отмечаются побочные эффекты, указанные в инструкции, или они усугубляются, или Вы заметили любые другие побочные эффекты, не указанные в инструкции, сообщите об этом врачу.', 2)
INSERT [dbo].[Items] ([Id], [Name], [Image], [Description], [Price], [IsStock], [StockCount], [CategoryId], [ManufactureId], [SubstanceId], [DosageDescription], [IsDiscount], [DiscountPrice], [ExpiryDate], [StorageCondition], [Indications], [Contraindications], [Usage], [ItemContent], [SideEffect], [VisitCount]) VALUES (9, N'Аторвастатин Реневал', N'3', N'Состав на одну таблетку
Действующее вещество:
Аторвастатин кальция ‒  ‒ 43,38 мг (в пересчете на аторвастатин) ‒ 40,00 мг
вспомогательные вещества: целлюлоза микрокристаллическая «тип 101», кальция карбонат, лактозы моногидрат, кроскармеллоза натрия, гипролоза, магния стеарат, полисорбат 80 (твин 80), натрия лаурилсульфат; состав оболочки: ОПАДРАЙ® YS-1-7040, белый [гипромеллоза (E 464), макрогол (ПЭГ) 6000 (Е 1521), титана диоксид (Е 171), тальк (Е 553b)], эмульсия симетикона 30 %', 289, 1, 70, 3, 3, 3, NULL, 0, NULL, N'3 года', N'Хранить при температуре не выше 25ºС. Лекарственное средство хранить в недоступном для детей месте!', N'Гиперхолестеринемия:
• в качестве дополнения к диете для снижения повышенного общего холестерина, ХС-ЛПНП, апо-В и триглицеридов у взрослых, подростков и детей в возрасте 10 лет или старше с первичной гиперхолестеринемией, включая семейную гиперхолестеринемию (гетерозиготный вариант) или комбинированную (смешанный) гиперлипидемию (соответственно тип IIа и IIb по классификации Фредриксона), когда ответ на диету и другие немедикаментозные методы лечения недостаточны;
• для снижения повышенного общего холестерина, ХС-ЛПНП у взрослых с гомозиготной семейной гиперхолестеринемией в качестве дополнения к другим гиполипидемическим методам лечения (например, ЛПНП-аферез) или если такие методы лечения недоступны.
Профилактика сердечно-сосудистых заболеваний:
• профилактика сердечно-сосудистых событий у взрослых пациентов, имеющих высокий риск развития первичных сердечно-сосудистых событий, в качестве дополнения к коррекции других факторов риска;
• вторичная профилактика сердечно-сосудистых осложнений у пациентов с ишемической болезнью сердца (ИБС) с целью снижения смертности, инфарктов миокарда, инсультов, повторных госпитализаций по поводу стенокардии и необходимости в реваскуляризации.', N'Заболевания печени в активной стадии, повышение активности трансаминаз сыворотки (более чем в 3 раза по сравнению с ВГН) неясного генеза, беременность, лактация (грудное вскармливание), женщины репродуктивного возраста, не применяющие надежные средства контрацепции; детский и подростковый возраст до 18 лет; повышенная чувствительность к аторвастатину.', N'Внутрь, принимать в любое время суток независимо от приема пищи.
Перед началом лечения аторвастатином следует попытаться добиться контроля гиперхолестеринемии с помощью диеты, физических упражнений и снижения массы тела у пациентов с ожирением, а также терапией основного заболевания.
При назначении препарата пациенту необходимо рекомендовать стандартную гипохолестеринемическую диету, которой он должен придерживаться в течение всего периода терапии.
Доза препарата варьируется от 10 мг до 80 мг 1 раз в сутки и титруется с учетом концентрации ХС-ЛПНП, цели терапии и индивидуального ответа на проводимую терапию.
Максимальная суточная доза составляет 80 мг.
В начале лечения и/или во время повышения дозы аторвастатина необходимо каждые 2-4 недели контролировать концентрацию липидов плазмы крови и соответствующим образом корректировать дозу препарата.
Первичная гиперхолестеринемия и комбинированная (смешанная) гиперлипидемия
Для большинства пациентов рекомендуемая доза аторвастатина составляет 10 мг 1 раз в сутки; терапевтическое действие проявляется в течение 2 недель и обычно достигает максимума через 4 недели. При длительном лечении эффект сохраняется.
Гомозиготная семейная гиперхолестеринемия
В большинстве случаев назначают по 80 мг (2 таблетки по 40 мг) 1 раз в сутки (снижение концентрации ХС-ЛПНП на 18-45 %).
Гетерозиготная семейная гиперхолестеринемия
Начальная доза составляет 10 мг в сутки. Дозу следует подбирать индивидуально и оценивать актуальность дозы каждые 4 недели с возможным повышением до 40 мг в сутки. Затем либо доза может быть увеличена до максимальной ‒ 80 мг в сутки, либо возможно сочетать секвестранты желчных кислот с приемом аторвастатина в дозе 40 мг в сутки.
Профилактика сердечно-сосудистых заболеваний
В исследованиях первичной профилактики доза аторвастатина составляла 10 мг/сутки. Может понадобиться повышение дозы с целью достижения значений ХС-ЛПНП, соответствующих современным рекомендациям.
Применение у детей с 10 до 18 лет при гетерозиготной семейной гиперхолестеринемии
Рекомендуемая начальная доза ‒ 10 мг 1 раз в сутки. Доза может быть увеличена до 80 мг в сутки в зависимости от клинического эффекта и переносимости.
Дозу препарата необходимо титровать в зависимости от цели гиполипидемической терапии. Коррекция дозы должна проводиться с интервалами 1 раз в 4 недели или больше.
Недостаточность функции печени
При недостаточности функции печени дозу аторвастатина необходимо снижать, при регулярном контроле активности «печеночных» трансаминаз: аспартатаминотрансферазы (АСТ) и аланинаминотрансферазы (АЛТ).
Недостаточность функции почек
Нарушение функции почек не влияет на концентрацию аторвастатина в плазме крови или степень снижения концентрации ХС-ЛПНП препаратом, поэтому коррекции дозы препарата не требуется.
Пожилые пациенты
Различий в терапевтической эффективности и безопасности аторвастатина у пожилых пациентов по сравнению с общей популяцией не обнаружено и коррекции дозы не требуется (смотри раздел «Фармакокинетика»).
Применение в комбинации с другими лекарственными средствами
При необходимости совместного применения с циклоспорином, телапревиром, комбинацией типранавир/ритонавир или глекапревир/пибрентасвир доза аторвастатина не должна превышать 10 мг/сутки.
Не рекомендуется применять аторвастатин пациентам, получающим терапию летермовиром совместно с циклоспорином.
Фармакокинетические лекарственные взаимодействия, которые приводят к повышению системной концентрации аторвастатина в плазме крови, также были отмечены с другими ингибиторами протеазы вируса иммунодефицита человека (ВИЧ) (лопинавиром/ритонавиром, саквинавиром/ритонавиром, дарунавиром/ритонавиром, фасампренавиром, фосампренавиром/ритонавиром и нельфонавиром), ингибиторами протеазы гепатита С (боцепревир, элбасвир/гразопревир, симепревир), кларитромицин, итраконазол и летермовир. Следует соблюдать осторожность при одновременном назначении с аторвастатином. Рекомендуется провести соответствующую клиническую оценку и применять самую низкую эффективную дозу аторвастатина (смотри разделы «Особые указания» и «Взаимодействие с другими лекарственными средствами»).', N'Таблетки П/ПЛЕН/ОБ. 40 МГ №30', N'Аторвастатин обычно хорошо переносится. Побочные реакции, как правило, легкие и преходящие.
Побочные реакции распределены по частоте в соответствии со следующей классификацией: «часто» (≥ 1/100, < 1/10); «нечасто» (≥ 1/1000, < 1/100); «редко»
(≥ 1/10000, < 1/1000); «очень редко» (< 1/10000); «частота неизвестна» (невозможно оценить на основании имеющихся данных).
Инфекционные и паразитарные заболевания
Часто ‒ назофарингит.
Нарушения со стороны крови и лимфатической системы
Редко ‒ тромбоцитопения.
Нарушения со стороны иммунной системы
Часто ‒ аллергические реакции; очень редко ‒ анафилаксия.
Нарушения со стороны обмена веществ и питания
Часто ‒ гипергликемия; нечасто ‒ гипогликемия, увеличение массы тела, анорексия; частота неизвестна ‒ сахарный диабет: частота развития зависит от наличия
или отсутствия факторов риска (концентрация глюкозы натощак ≥ 5,6 ммоль/л,
индекс массы тела (ИМТ) > 30 кг/м2, повышенная концентрация триглицеридов, артериальная гипертензия в анамнезе).
Нарушения со стороны психики
Нечасто ‒ «кошмарные» сновидения, бессонница; частота неизвестна ‒ депрессия.
Нарушения со стороны нервной системы
Часто ‒ головная боль; нечасто ‒ головокружение, парестезия, гипестезия, нарушение вкусового восприятия, амнезия; редко ‒ периферическая нейропатия; частота
неизвестна ‒ потеря или снижение памяти.
Нарушения со стороны органа зрения
Нечасто ‒ возникновение «пелены» перед глазами; редко ‒ нарушения зрения.
Нарушения со стороны органа слуха и лабиринтные нарушения
Нечасто ‒ шум в ушах; очень редко ‒ потеря слуха.
Нарушения со стороны дыхательной системы, органов грудной клетки и средостения
Часто ‒ боль в горле, носовое кровотечение; частота неизвестна ‒ единичные случаи интерстициального заболевания легких (обычно при длительном применении).
Нарушения со стороны желудочно-кишечного тракта
Часто ‒ запор, метеоризм, диспепсия, тошнота, диарея; нечасто ‒ рвота, боль в животе, отрыжка, панкреатит, дискомфорт в животе.
Нарушения со стороны печени и желчевыводящих путей
Нечасто ‒ гепатит; редко ‒ холестаз; очень редко ‒ почечная недостаточность.
Нарушения со стороны кожи и подкожных тканей
Нечасто ‒ крапивница, кожный зуд, кожная сыпь, алопеция; редко ‒ ангионевротический отек, буллезная сыпь, полиморфная экссудативная эритема (в том числе синдром
Стивенса-Джонсона), токсический эпидермальный некролиз (синдром Лайелла).
Нарушения со стороны скелетно-мышечной и соединительной ткани
Часто ‒ миалгия, артралгия, боль в конечностях, судороги мышц, припухлость суставов, боль в спине, мышечно-скелетные боли; нечасто ‒ боль в шее, мышечная слабость;
редко ‒ миопатия, миозит, рабдомиолиз, тендиноопатия (в некоторых случаях с разрывом сухожилия); частота неизвестна ‒ иммуноопосредованная некротизирующая миопатия.
Нарушения со стороны половых органов и молочной железы
Нечасто ‒ импотенция; очень редко ‒ гинекомастия.
Общие расстройства и нарушения в месте введения
Нечасто ‒ недомогание, астенический синдром, боль в груди, периферические отеки, повышенная утомляемость, лихорадка.
Влияние на результаты лабораторных и инструментальных исследований
Часто ‒ отклонение от нормы результатов «печеночных» тестов (АСТ и АЛТ), повышение активности сывороточной креатинфосфокиназы (КФК); нечасто ‒ лейкоцитурия; частота неизвестна ‒ повышение концентрации гликозилированного гемоглобина (НbА1).
Дети
Побочные реакции, связанные с приемом аторвастатина, по количеству
не отличались от реакций на фоне приема плацебо. Наиболее частыми реакциями, вне зависимости от частоты контроля, являлись инфекции.
Дети и подростки в возрасте от 10 до 17 лет, которые лечились аторвастатином, имели профиль побочных эффектов, который соответствовал обычно пациенту, получавшему плацебо. Наиболее распространенными побочными эффектами, которые наблюдались независимо от оценки причинно-следственных связей в обеих группах, были инфекции.
В ходе 3-летнего исследования для оценки общего созревания и развития, стадии по Таннеру, а также измерения роста и веса, не наблюдалось клинически значимого влияния на рост и половое созревание. Профиль безопасности и переносимости у детей и подростков в основном соответствовал известному профилю безопасности аторвастатина у взрослых пациентов.
База данных по клинической безопасности также включает в себя данные, полученные от 520 пациентов детского возраста, получавших аторвастатин. Из них: 7 пациентов были младше 6 лет, 121 пациент   в возрасте от 6 до 9 лет, и 392 пациента находились в возрасте от 10 до 17 лет. На основании имеющихся данных частота, тип и степень тяжести побочных эффектов у детей схожи с аналогичными показателями у взрослых.
При применении отдельных статинов наблюдались следующие нежелательные побочные эффекты:
• нарушение половой функции;
• депрессия;
• в исключительных случаях, особенно при длительной терапии, интерстициальная болезнь легких (смотри раздел «Особые указания»);
• сахарный диабет: частота зависит от наличия или отсутствия факторов риска (сахар в крови натощак ≥ 5,6 ммоль/л, ИМТ > 30 кг/м2, повышенные уровни содержания триглицеридов, имеющаяся гипертония).', 0)
INSERT [dbo].[Items] ([Id], [Name], [Image], [Description], [Price], [IsStock], [StockCount], [CategoryId], [ManufactureId], [SubstanceId], [DosageDescription], [IsDiscount], [DiscountPrice], [ExpiryDate], [StorageCondition], [Indications], [Contraindications], [Usage], [ItemContent], [SideEffect], [VisitCount]) VALUES (10, N'Нурофен Интенсив', N'4', N'Ибупрофен - 200 мг, парацетомол - 500 мг, роскармеллоза натрия - 30 мг, целлюлоза микрокристаллическая - 120 мг, диоксид кремния коллоидный - 3 мг, стеарат магния - 5 мг, стеариновая кислота - 4 мг.', 213.57, 1, 100, 4, 4, 4, N'Перед приемом препарата следует внимательно прочитать инструкцию. Для приема внутрь. Только для кратковременного применения. ', 0, NULL, N'3 года', N'Хранить при температуре не выше 25ºС. Лекарственное средство хранить в недоступном для детей месте!', N'Боль в спине,
Боль в суставах,
Мышечные и ревматические боли,
Невралгия,
Головная боль,
Мигрень,
Зубная боль,
Болезненные менструации,
Боль в горле,
Лихорадочное состояние,
Симптомы простуды и гриппа. Препарат особенно показан для симптоматического лечения боли, требующей более выраженного обезболивающего эффекта, чем ибупрофен или парацетамол по отдельности', N'Повышенная чувствительность к ибупрофену, парацетамолу или к другим компонентам препарата,
Одновременный прием других лекарственных препаратов, содержащих парацетамол,
Полное или неполное сочетание бронхиальной астмы, рецидивирующего полипоза носа и околоносовых пазух, и непереносимости ацетилсалициловой кислоты или других НПВП (в т.ч. в анамнезе),
Эрозивно-язвенные заболевания органов ЖКТ (в т.ч. язвенная болезнь желудка и двенадцатиперстной кишки, болезнь Крона, язвенный колит) или язвенное кровотечение в активной фазе или в анамнезе (два или более подтвержденных эпизода язвенной болезни или язвенного кровотечения),
Кровотечение или перфорация язвы ЖКТ в анамнезе, спровоцированные применением НПВП,
Тяжелая печеночная недостаточность или заболевание печени в активной фазе,
Почечная недостаточность тяжелой степени тяжести (КК <30 мл/мин), подтвержденная гиперкалиемия,
Декомпенсированная сердечная недостаточность, период после проведения аортокоронарного шунтирования,
Цереброваскулярное или иное кровотечение,
Гемофилия и другие нарушения свертываемости крови (в т.ч. гипокоагуляция), геморрагические диатезы,
III триместр беременности,
Детский возраст до 12 лет', N'Взрослые и дети старше 12 лет - по 1 таблетке до 3 раз/сут, запивая водой. Интервал между приемами препарата должен составлять не менее 6 ч. Максимальная разовая доза - 2 таблетки (соответствует 400 мг ибупрофена, 1000 мг парацетамола). Максимальная суточная доза для взрослых - 6 таблеток (соответствует 1200 мг ибупрофена, 3000 мг парацетамола). Максимальная суточная доза для детей 12-18 лет - 4 таблетки (соответствует 800 мг ибупрофена, 2000 мг парацетамола). Рекомендуется продолжительность лечения не более 3 дней. Если при приеме препарата в течение 2-3 дней симптомы сохраняются или усиливаются, необходимо прекратить лечение и обратиться к врачу', N'Таблетки, 6 шт, 200+500 мг+мг, в пленочной оболочке', N'Риск возникновения побочных эффектов можно свести к минимуму, если принимать препарат коротким курсом, в минимальной эффективной дозе, необходимой для устранения симптомов. У пациентов пожилого возраста наблюдается повышенная частота побочных реакций на фоне применения НПВП, особенно желудочно-кишечных кровотечений и перфораций, в некоторых случаях с летальным исходом. Побочные эффекты преимущественно являются дозозависимыми. В частности, риск развития желудочно-кишечного кровотечения зависит от диапазона доз и от длительности лечения. Оценка частоты возникновения побочных реакций произведена на основании следующих критериев: очень часто (≥ 1/10), часто (от ≥ 1/100 до < 1/10), нечасто (от ≥ 1/1000 до < 1/100), редко (от ≥ 1/10 000 до < 1/1000), очень редко (≤ 1/10 000), частота неизвестна (данные по оценке частоты отсутствуют). Со стороны крови и лимфатической системы: очень редко - нарушения кроветворения (анемия, лейкопения, апластическая анемия, гемолитическая анемия, тромбоцитопения, панцитопения, агранулоцитоз). Первыми симптомами таких нарушений являются лихорадка, боль в горле, поверхностные язвы в полости рта, гриппоподобные симптомы, выраженная слабость, кровотечения из носа и подкожные кровоизлияния, кровотечения и кровоподтеки неизвестного происхождения. Со стороны иммунной системы: нечасто - реакции гиперчувствительности – неспецифические аллергические реакции и анафилактические реакции, реакции со стороны дыхательных путей (бронхиальная астма, в том числе ее обострение, бронхоспазм, одышка, диспноэ), кожные реакции (зуд, крапивница, пурпура, отек Квинке, реже эксфолиативные и буллезные дерматозы, в том числе токсический эпидермальный некролиз (синдром Лайелла), синдром Стивенса-Джонсона, многоформная эритема), аллергический ринит, эозинофилия, очень редко - тяжелые реакции гиперчувствительности (неспецифические аллергические реакции и анафилактические реакции), включая отек лица, языка и гортани, одышку, тахикардию, понижение АД (анафилаксия, отек Квинке или тяжелый анафилактический шок). Со стороны нервной системы: нечасто - головная боль, очень редко - асептический менингит. У пациентов с аутоиммунными нарушениями, такими как системная красная волчанка, смешанное заболевание соединительной ткани, во время лечения ибупрофеном наблюдали единичные случаи появления симптомов асептического менингита: ригидность затылочных мышц, головная боль, тошнота, рвота, лихорадка и нарушение ориентации, спутанность сознания, депрессия, галлюцинации. Со стороны сердечно-сосудистой системы: частота неизвестна - сердечная недостаточность, периферические отеки, при длительном применении повышен риск тромботических осложнений (например, инфаркт миокарда), повышение АД. Со стороны дыхательной системы, органов грудной клетки и средостения: частота неизвестна - бронхиальная астма, в т.ч. ее обострение, бронхоспазм, одышка. Со стороны пищеварительной системы: нечасто - боль в животе, тошнота, диспепсия (в т.ч. изжога, вздутие живота), редко - диарея, метеоризм, запор, рвота, очень редко - пептическая язва, перфорация или желудочно-кишечное кровотечение, мелена, кровавая рвота, в некоторых случаях с летальным исходом, особенно у пациентов пожилого возраста, язвенный стоматит, гастрит, частота неизвестна - обострение колита и болезни Крона. Со стороны печени и желчевыводящих путей: очень редко - нарушения функции печени (особенно при длительном применении), повышение активности печеночных трансаминаз, гепатит и желтуха. Со стороны мочевыделительной системы: очень редко - острая почечная недостаточность (компенсированная и декомпенсированная), особенно при длительном применении, в сочетании с повышением концентрации мочевины в плазме крови и появлением отеков, папиллярный некроз, гематурия и протеинурия, нефритический синдром, нефротический синдром, интерстициальный нефрит, цистит. Со стороны кожи и подкожных тканей: часто - гипергидроз (усиленная потливость). Лабораторные показатели: часто - повышение уровня АЛТ, ГГТ и других показателей функции печени, повышение плазменной концентрации креатинина и мочевины, нечасто - повышение уровня АСТ, ЩФ, КФК, понижение уровня гемоглобина, увеличение количества тромбоцитов. При появлении побочных эффектов следует прекратить прием препарата и обратиться к врачу.', 0)
INSERT [dbo].[Items] ([Id], [Name], [Image], [Description], [Price], [IsStock], [StockCount], [CategoryId], [ManufactureId], [SubstanceId], [DosageDescription], [IsDiscount], [DiscountPrice], [ExpiryDate], [StorageCondition], [Indications], [Contraindications], [Usage], [ItemContent], [SideEffect], [VisitCount]) VALUES (12, N'Витамин С', N'5', N'Витамин С относится к наиболее важным витаминам и выполняет многочисленные функции в организме. Обладает антиоксидантным и противовоспалительным действиями.

Витамин С необходим для синтеза интерферона – защитного белка, который убивает бактерии и вирусы, и мобилизует лимфоциты на борьбу с простудой. Витамин С преобразует аминокислоты в биологически активные формы белка, поэтому его содержание велико в лейкоцитах, белых кровяных тельцах, необходимых иммунной системе.', 263, 1, 200, 5, 5, NULL, N'Таблетки не следует глотать, жевать и рассасывать в ротовой полости.', 0, NULL, N'3 года', N'Хранить при температуре не выше 25ºС. Лекарственное средство хранить в недоступном для детей месте!', N'Рекомендуется в качестве дополнительного источника витамина С, при состояниях гипо- и авитаминоза витамина С, а также в период острых вирусных и бактериальных инфекциях; при стрессах; курении, злоупотреблении алкоголем; несбалансиро- ванном питании; заболеваниях ЖКТ, ухудшающих всасывание витамина С.

Рекомендуется также при значительных физических нагрузках и чрезвычайном умственном напряжении. Аскорбиновая кислота является эффективным средством стимулирования окислителных процессов, повышения выносливости и восстановления работоспособности.', N'Индивидуальная непереносимость компонентов, фенилкетонурия. Перед применением рекомендуется проконсультироваться с врачом.

Не является лекарством.', N'Взрослым – по одной таблетке в день во время или после еды. Таблетку перед употреблением растворить в стакане (200 мл) питьевой воды.', N'Таблетки, туба, 20 шт, 900 мг, для приготовления раствора, шипучие', NULL, 0)
INSERT [dbo].[Items] ([Id], [Name], [Image], [Description], [Price], [IsStock], [StockCount], [CategoryId], [ManufactureId], [SubstanceId], [DosageDescription], [IsDiscount], [DiscountPrice], [ExpiryDate], [StorageCondition], [Indications], [Contraindications], [Usage], [ItemContent], [SideEffect], [VisitCount]) VALUES (15, N'Тербинафин Канон', N'6', N'Aктивное вещество: тербинафина гидрохлорида в пересчете на тербинафин 125 мг и 250 мг,

вспомогательные вещества: гипролоза (гид рокси пропил целлюлоза), кальция стеарат, кремния диоксид коллоидный (аэросил), кроскармеллоза натрия (примеллоза), целлюлоза микрокристаллическая.', 174.9, 1, 100, 6, 6, 5, N'Длительность курса лечения и режим дозирования устанавливаются в индивидуальном порядке и зависят от локализации процесса и тяжести заболевания.', 0, NULL, N'4 года', N'В сухом, защищенном отсвета месте при температуре не выше 25 С.

Хранить в недоступном для детей месте.', N'- Микозы волосистой части головы (трихофития, микроспория).

- Грибковые заболевания кожи и ногтей (онихомикозы), обусловленные Trychophyton (Т. rubrum, Т. mentagrophytes, Т. verrucosum, Т. violaccum), Microsporum (М. canis, М. gypseum) и Epidermophyton floccosum.

- Тяжелые, распространенные дерматомикозы гладкой кожи туловища и конечностей, требующие системного лечения.

- Кандидозы кожи и слизистых оболочек.', N'Симптомы: тошнота, рвота, головная боль, головокружение, боли в нижней части живота, в эпигастральной области, учащенное мочеиспускание.

Лечение: промывание желудка с последующим назначением активированного угля и/или симптоматическая терапия.', N'Взрослым:

Внутрь, после еды. Обычная доза: 250 мг 1 раз в сутки.

Онихомикозы: продолжительность терапии в среднем 6-12 недель. При поражении ногтей пальцев кистей и стоп (за исключением большого пальца стопы), или при молодом -возрасте больного длительность лечения может быть менее 12 недель. При инфекции большого пальца стопы обычно достаточно 3-месячного курса лечения. Некоторым больным, у которых снижена скорость роста ногтей, может потребоваться более длительный срок лечения.

Грибковые инфекции кожи: продолжительность лечения при межпальцевой, подошвенной или по типу носков локализации инфекции составляет 2-6 недель, при микозах других участков тела: голеней - 2-4 недели, туловища - 2-4 недели, при микозах, вызванных грибами рода Candida - 2-4 недели,

при микозах волосистой части головы, вызванных грибами рода Microsporum - более 4 недель.

Детям: обычно назначают 125 мг. Продолжительность лечения микозов волосистой части головы составляет около 4-х недель, при заражении Microsporum canis - может быть более длительной.

При массе тела от 20 до 40 кг - 125 мг 1 раз в сутки.

При массе тела более 40 кг - 250 мг 1 раз в сутки.

Пожилым больным препарат назначают в тех же дозах, что и взрослым.

Пациентам с печеночной и почечной недостаточностью тербинафин назначают в дозе 125 мг 1 раз в день.', N'Таблетки, 250МГ №10', N'Частота: очень часто - более 1/10, часто - более 1/100 и менее 1/10, нечасто - более 1/1000 и менее 1/100, редко - более 1/10000 и менее 1/1000, очень редко - менее 1/10000, включая отдельные случаи.

Со стороны нервной системы: часто - головная боль, нечасто - нарушение вкусовых ощущений, включая их утрату (обычно восстановление происходит в пределах нескольких недель после прекращения лечения), очень редко - снижение аппетита и потеря в весе, головокружение, парестезии, гипе- стезии.

Со стороны кожных покровов:

очень часто - кожные реакции (в т.ч. сыпь, крапивница),

очень редко - синдром Стивенса- Джонсона, токсический эпидермальный некролиз, псориазоподобные высыпания на коже, обострение имеющегося псориаза, алопеция. В случае развития прогрессирующей кожной сыпи, лечение терби- нафином следует прекратить.

Со стороны гепатобилиарной системы: редко - гепатобилиарная дисфункция (преимущественно холестатической природы), очень редко - тяжелая печеночная недостаточность (некоторые со смертельным исходом или требующие трансплантации печени).

В большинстве случаев, когда развивалась печеночная недостаточность, пациенты имели серьезные сопутствующие системные заболевания и причинно-следственная связь с приемом тербинафина была сомнительная.

Со стороны пищеварительной системы: очень часто - чувство переполнения желудка, снижение аппетита, диспепсия, тошнота, слабо выраженные боли в животе, диарея.

Со стороны опорно-двигательного аппарата:

очень часто - артралгия, миалгия.

Со стороны органов кроветворения: очень редко - нейтропения, агранулоцитоз, панцитопения. В случае развития качественных или количественных изменений со стороны форменных элементов крови следует рассмотреть вопрос о снижении дозы препарата или, при необходимости, о прекращении терапии.

Со стороны иммунной системы:

Очень редко - анафилактоидные реакции (включая ангионевротический отек), кожная и системная красная волчанка.

Прочие: очень редко - чувство усталости.', 0)
INSERT [dbo].[Items] ([Id], [Name], [Image], [Description], [Price], [IsStock], [StockCount], [CategoryId], [ManufactureId], [SubstanceId], [DosageDescription], [IsDiscount], [DiscountPrice], [ExpiryDate], [StorageCondition], [Indications], [Contraindications], [Usage], [ItemContent], [SideEffect], [VisitCount]) VALUES (18, N'Золмитриптан-С3', N'7', N'1 таблетка содержит: действующее вещество: золмитриптан - 2,5 мг;

вспомогательные вещества: лактоза безводная (сахар молочный безводный) - 98,3 мг, целлюлоза микрокристаллическая (тип 102) - 15,0 мг, карбоксиметилкрахмал натрия - 3,0 мг, магния стеарат -1,2 мг.

состав оболочки: гипромеллоза - 2,15 мг, полисорбат-80 (твин-80) - 0,60 мг, тальк - 0,60 мг, титана диоксид Е 171 - 0,45 мг, краситель железа оксид желтый Е 172 - 0,20 мг.', 404.9, 1, 100, 7, 7, 6, NULL, 0, NULL, N'3 года', N'В защищенном от света месте, при температуре не выше 25 °С. Хранить в недоступном для детей месте.', N'Купирование приступов мигрени с аурой или без ауры.', N'Гиперчувствительность к любым компонентам препарата.

Детский возраст - до 18-ти лет. Пожилой возраст - старше 65 лет (эффективность и безопасность применения не изучена).

Период беременности (безопасность применения не изучена). Гемиплегическая, базилярная и офтальмоплегическая мигрень.

Неконтролируемая артериальная гипертензия. Ишемическая болезнь сердца. Коронарный вазоспазм / стенокардия Принцметала.

Заболевания периферических артерий. Нарушение мозгового кровообращения (в том числе, инсульт или транзиторная ишемическая атака) в анамнезе. Синдром Вольфа-Паркинсона-Уайта или аритмии, ассоциированные с другими дополнительными путями проведения импульса.

Тяжелая почечная недостаточность (клиренс креатинина менее 15 мл/мин).

Совместное применение с другими агонистами серотониновых 5HТ1b/1d- рецепторов (например, суматриптаном, наратриптаном), эрготамином или его производными (в том числе, метизергидом), а также в течение 24 часов после их отмены.

Совместное применение с ингибиторами МАО-А и в течение 14 дней после их отмены. Непереносимость лактозы, дефицит лактазы или глюкозо-галактозная мальабсорбция.

С осторожностью: Тяжелое нарушение функции печени.', N'Таблетки следует принимать внутрь целиком, запивая водой. Рекомендуемая доза препарата для снятия приступа мигрени - 2,5 мг (1 таблетка). Рекомендуется принимать препарат как можно раньше с момента начала головной боли, однако препарат эффективен и при приеме в более поздние сроки после начала приступа. Если симптомы мигрени возникают вновь в течение 24 часов, можно принять повторную дозу препарата Золмитриптан-СЗ. Не следует принимать повторную дозу ранее, чем через 2 часа после приема первой дозы. Если после приема первой дозы не отмечено клинического эффекта, маловероятна польза от повторного приема препарата во время того же приступа. Если у пациента не был достигнут терапевтический эффект после приема дозы 2,5 мг, для снятия последующих приступов мигрени можно применять препарат Золмитриптан-СЗ в дозе 5 мг (2 таблетки). Не следует принимать более 2 доз препарата Золмитриптан-СЗ в сутки. Суммарная доза золмитриптана, принятая в течение суток, не должна превышать 10 мг (4 таблетки). Препарат Золмитриптан-СЗ не показан для профилактики мигрени.

Детский и подростковый возраст Эффективность и безопасность применения золмитриптана у детей до 12 лет не изучалась. Эффективность применения золмитриптана в плацебоконтролируемом клиническом исследовании у пациентов в возрасте от 12 до 17 лет не установлена. Применение препарата Золмитриптан-СЗ у детей и подростков не рекомендуется.

Пожилой возраст Эффективность и безопасность золмитриптана у пациентов старше 65 лет не установлена. Поэтому применение препарата Золмитриптан-СЗ у пациентов пожилого возраста не рекомендуется.

Нарушение функции печени Коррекция дозы при легком и умеренном нарушении функции печени не требуется. Для пациентов с тяжелым нарушением функции печени суммарная доза золмитриптана, принятая в течение суток, не должна превышать 5 мг.

Почечная недостаточность Коррекция дозы не требуется, если клиренс креатинина выше 15 мл/мин.

Препарат противопоказан при почечной недостаточности тяжелой степени тяжести (клиренс креатинина менее 15 мл/мин). Взаимодействие с другими лекарственными средствами, требующее коррекции дозы

Для пациентов, принимающих циметидин или селективные ингибиторы изофермента CYP1A2 (например, флувоксамин, ципрофлоксацин и другие хинолоны) суммарная доза золмитриптана, принятая в течение суток, не должна превышать 5 мг.', N'Таблетки П/ПЛЕН/ОБ. 2,5МГ №10', N'Нежелательные реакции при применении золмитриптана, как правило, возникают в течение 4 часов после приема препарата, носят транзиторный характер и разрешаются спонтанно без лечения. Частота нежелательных реакций не увеличивается при приеме повторных доз. Частота развития нежелательных реакций представлена согласно классификации ВОЗ: очень часто (?1/10 случаев); часто (?1/100 и <1/10 случаев); нечасто (?1/1000 и <1/100 случаев); редко (?1/10000 и <1/1000 случаев); очень редко (<1/10000 случаев).

Со стороны центральной нервной системы: часто - нарушения чувствительности, головокружение, гиперестезия, парестезии, сонливость, ощущение "тепла" или "холода", вертиго.

Со стороны сердечно-сосудистой системы: часто - ощущение сердцебиения; нечасто - тахикардия, незначительное повышение артериального давления, транзиторное повышение артериального давления; очень редко - инфаркт миокарда, стенокардия, коронарный ангиоспазм.

Со стороны желудочно-кишечного тракта: часто - боль в животе; тошнота, рвота, сухость во рту, диспепсия, дисфагия; очень редко - ишемия или инфаркт (например, ишемия или инфаркт кишки, инфаркт селезенки), симптомами которых могут быть диарея с примесью крови и боль в животе.

Со стороны костно-мышечной системы: часто - мышечная слабость, миалгия.

Со стороны мочевыделительной системы: нечасто - полиурия, частое мочеиспускание; очень редко - императивные позывы к мочеиспусканию.

Со стороны иммунной системы: редко - реакции гиперчувствительности, в том числе, крапивница, ангионевротический отек и анафилактические реакции.

Общие расстройства: часто - астения, инертность, чувство стеснения дыхания, боль или чувство стеснения в глотке, области шеи, грудной клетке или конечностях, повышенное потоотделение.

Некоторые из перечисленных симптомов могут быть симптомами мигрени. Если любые из указанных в инструкции нежелательные реакции усугубляются, или Вы заметили другие нежелательных реакций не указанные в инструкции, сообщите об этом врачу.', 0)
- фиброзно-кистозной мастопатии;
- нарушений менструального цикла и/или бесплодия, вызванных недостаточностью жёлтого тела', N'Повышенная чувствительность к компонентам препарата, период беременности и грудного вскармливания.
Таблетки Мастодинон® не используются для лечения злокачественных заболеваний молочных желёз.
Из-за содержания лактозы данное лекарственное средство не пригодно для пациентов, страдающих редко встречающейся наследованной непереносимостью галактозы, генетическим дефицитом лактазы или нарушением всасывания глюкозы и галактозы.
Препарат не следует применять у детей до 12 лет.', N'Принимать внутрь по 1-й таблетке 2 раза в день, с небольшим количеством жидкости. Мастодинон должен приниматься, не менее 3 месяцев, в том числе во время менструации. Улучшение обычно наступает через 6 недель. Если после прекращения прима жалобы возобновляются, то необходимо проконсультироваться с врачом. В связи с хорошей переносимостью препарат пригоден для длительной терапии.', N'Таблетки №120', N'Возможны аллергические реакции к компонентам препарата.
В очень редких случаях возможны боли в желудке, тошнота, небольшое увеличение веса, зудящие экзантемы, угри и головная боль. Во время приема препаратов, содержащих Agnus castus, может возникать временное психомоторное возбуждение, спутанность сознания и галлюцинации.', 0)
INSERT [dbo].[Items] ([Id], [Name], [Image], [Description], [Price], [IsStock], [StockCount], [CategoryId], [ManufactureId], [SubstanceId], [DosageDescription], [IsDiscount], [DiscountPrice], [ExpiryDate], [StorageCondition], [Indications], [Contraindications], [Usage], [ItemContent], [SideEffect], [VisitCount]) VALUES (48, N'Олоридин', N'9', N'На 1 мл:

Действующее вещество:


Олопатадинагидрохлорид

1,11 мг

в пересчете наолопатадин

1,0 мг

Вспомогательныевещества:


Бензалконияхлорид

0,1 мг

Натриягидрофосфата дигидрат

6,0 мг

Натрияхлорид

6,0 мг

Хлористоводороднойкислоты раствор 5 М

до pH7,0-7,2

или натриягидроксида раствор 1 М


Вода дляинъекций

до 1мл', 454.9, 1, 100, 1, 9, 7, NULL, 0, NULL, N'3 года. После вскрытия флакона - 1 месяц. Не применять после окончания срока годности.', N'При температуре не выше 30 °С. Хранить в недоступном для детей месте.', N'Лечение симптомов сезонного аллергического конъюнктивита.', N'Гиперчувствительность к компонентам препарата, беременность и период грудного вскармливания, возраст до 3-х лет.

С осторожностью: У пациентов с сопутствующим синдромом "сухого" глаза и заболеваниями роговицы.', N'Местно. Закапывают по 1 капле раствора в конъюнктивальный мешок пораженного глаза 2 раза в день (с интервалом 8 часов). Продолжительность лечения до четырех месяцев. При необходимости препарат может применяться в комбинации с другими препаратами. В этом случае интервал между их применением должен составлять не менее 5 минут. Пожилые люди Нет необходимости корректировать дозы для пациентов пожилого возраста. Дети от 3-х лет Препарат может быть использован в тех же дозах, что и у взрослых. Почечная или печеночная недостаточность Не проводились исследования на пациентах с почечной или печеночной недостаточностью относительно приема олопатадина в виде глазных капель. Тем не менее не ожидается, что будет необходима корректировка дозы у пациентов с почечной или печеночной недостаточностью. Порядок работы с флаконом: 1. Вращающими движениями против часовой стрелки открыть флакон и снять колпачок. 2. Осторожно, не касаясь пальцами наконечника флакона, перевернуть флакон, зафиксировать между большим и указательным пальцами одной руки. 3. Запрокинуть голову назад, расположить наконечник флакона над глазом и указательным пальцем другой руки оттянуть нижнее веко вниз. Слегка надавить на флакон и закапать необходимое количество препарата в конъюнктивальный мешок глаза. Необходимо избегать контактов наконечника открытого флакона с поверхностью глаза и руками. 4. После использования надеть колпачок на флакон и закрыть вращающими движениями по часовой стрелке. После вскрытия флакона препарат можно использовать в течение 1 месяца. По истечении этого срока препарат следует выбросить. При видимых повреждениях флакона применять препарат не следует.', N'Капли глазные 0,1% ФЛ. 5МЛ №1', N'Общая информация о профиле нежелательных явлений В клинических исследованиях с участием 1680 пациентов режим дозирования составлял от 1 до 4 капель в день, длительность курса терапии составляла до 4 месяцев, применение олопатадина проводилось как в монотерапии, так и совместно с лоратадином в дозировке 10 мг. Общая частота встречаемости нежелательных явлений составила порядка 4,5%, в то время как прекращение участия в клиническом исследовании вследствие развития нежелательных реакций отмечено только в 1,6% случаев. В ходе клинических исследований не отмечено нежелательных явлений как со стороны органа зрения, так и со стороны организма в целом. Наиболее частой нежелательной реакцией, связанной с лечением, был дискомфорт в глазу, это явление отмечалось у 0,7% пациентов. Табличные данные о нежелательных явлениях Нижеследующие нежелательные явления отмечались в ходе клинических исследований и пострегистрационного применения препарата и квалифицированы согласно следующей градации частоты встречаемости нежелательных явлений: очень часто (? 1/10), часто (? 1/100, < 1/10), нечасто (? 1/1000, < 100), редко (? 1/10000, < 1/1000), очень редко (< 1/0000), частота неизвестна (недостаточно данных для оценки частоты развития). В пределах каждой группы нежелательные явления перечислены в порядке снижения серьезности.', 0)
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufactures] ON 

INSERT [dbo].[Manufactures] ([Id], [Name]) VALUES (1, N'БЕРЛИН-ФАРМА ЗАО')
INSERT [dbo].[Manufactures] ([Id], [Name]) VALUES (2, N'Dr. Reddy`s Laboratories')
INSERT [dbo].[Manufactures] ([Id], [Name]) VALUES (3, N'ОБНОВЛЕНИЕ ПФК АО')
SET IDENTITY_INSERT [dbo].[Manufactures] OFF
GO
SET IDENTITY_INSERT [dbo].[MapItems] ON 

INSERT [dbo].[MapItems] ([Id], [Address], [WorkTime], [Phone], [City]) VALUES (1, N'Гайдара 44', N'Пн-Пт 09:00-21:00 Сб-Вс: 09:00-20:00', N'8 (818) 227-03-01', N'Архангельск')
INSERT [dbo].[MapItems] ([Id], [Address], [WorkTime], [Phone], [City]) VALUES (2, N'Тимме 23', N'Пн-Пт 09:00-21:00 Сб-Вс: 09:00-20:00', N'8 (818) 221-24-52', N'Архангельск')
INSERT [dbo].[MapItems] ([Id], [Address], [WorkTime], [Phone], [City]) VALUES (3, N'Галушина 21 к 1', N'Пн-Пт 09:00-20:00 Сб-Вс: 10:00-20:00', N'8 (818) 266-21-26', N'Архангельск')
INSERT [dbo].[MapItems] ([Id], [Address], [WorkTime], [Phone], [City]) VALUES (6, N'Ломоносова 81 - Морской', N'Пн-Вс 9:00-21:00', N'
8 (8182) 42-35-70', N'Архангельск')
INSERT [dbo].[MapItems] ([Id], [Address], [WorkTime], [Phone], [City]) VALUES (9, N'Розы Люксембург 3', N'Пн-Пт 9:00-20:30', N'
8 (818) 229-60-04', N'Архангельск')
INSERT [dbo].[MapItems] ([Id], [Address], [WorkTime], [Phone], [City]) VALUES (16, N'Беломорский 43', N'Пн-Вс 9:00-20:00', N'
8 (952) 307-74-41', N'Северодвинск')
INSERT [dbo].[MapItems] ([Id], [Address], [WorkTime], [Phone], [City]) VALUES (18, N'Ломоносова д 76а', N'Пн-Вс 09:00-20:00', N'
8 (902) 700-25-70', N'Северодвинск')
INSERT [dbo].[MapItems] ([Id], [Address], [WorkTime], [Phone], [City]) VALUES (19, N'Логинова 2', N'Пн-Вс 09:00-20:00', N'
8 (818) 451-07-00', N'Северодвинск')
INSERT [dbo].[MapItems] ([Id], [Address], [WorkTime], [Phone], [City]) VALUES (20, N'Трухинова 1 к А', N'Пн-Вс 9:00-20:00', N'
8 (818) 459-90-66', N'Северодвинск')
SET IDENTITY_INSERT [dbo].[MapItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Substances] ON 

INSERT [dbo].[Substances] ([Id], [Name]) VALUES (1, N'Бромгексин')
INSERT [dbo].[Substances] ([Id], [Name]) VALUES (2, N'Левоцетиризин')
INSERT [dbo].[Substances] ([Id], [Name]) VALUES (3, N'Аторвастатин')
SET IDENTITY_INSERT [dbo].[Substances] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [Name], [Surname], [Phone], [Password], [Role], [RegDate], [IsGuest]) VALUES (2, N'test@gmail.com', N'Иван', N'Иванов', N'+79626617634', N'c42Yg2ACjJuaWVpcCUDIOVO07ZL/L/dqvzhzqJxYRBc=', 0, CAST(N'2022-04-21T12:08:34.0595723' AS DateTime2), 0)
INSERT [dbo].[Users] ([Id], [Email], [Name], [Surname], [Phone], [Password], [Role], [RegDate], [IsGuest]) VALUES (7, N'anivire.work@gmail.com', N'Nikita', N'Grichan', N'+79626617634', N'YUlO1uKKNT830O1epDSQ2RXq/bfDnNxjdx8thW+sF+s=', 1, CAST(N'2022-05-11T13:37:05.6124131' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Categorys] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Categorys]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Manufactures] FOREIGN KEY([ManufactureId])
REFERENCES [dbo].[Manufactures] ([Id])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Manufactures]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Substances] FOREIGN KEY([SubstanceId])
REFERENCES [dbo].[Substances] ([Id])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Substances]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Items] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Items]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_MapItem] FOREIGN KEY([MapItemId])
REFERENCES [dbo].[MapItems] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_MapItem]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
