<div class="inf-container">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{userLocation}}</a>
    <ul class="dropdown-menu ">
        <li><a class="dropdown-item" (click)="setLocation('Архангельск')">Архангельск</a></li>
        <li><a class="dropdown-item" (click)="setLocation('Северодвинск')">Северодвинск</a></li>
    </ul>
    <a class="top-links pe-3" routerLink="/contacts">Наши аптеки</a>
</div>

<div class="nav-container">
    <img class="mx-2" src="assets\logo.svg" width="150px" height="55px" alt="Logo" routerLink="" style="cursor: pointer; object-fit: scale-down;">
    <button routerLink="/categories" class="btn mx-2 btn-w"><span class="material-icons">reorder</span><p class="b-text">Каталог</p></button>
    <div class="mx-1">
        <div class="input-group mb-3">
            <input id="searchText" type="text" class="form-control" placeholder="Поиск лекарств...">
            <button class="search-btn" type="button" (click)="searchItems()"><span class="material-icons">search</span></button>
        </div>
    </div>
    <div *ngIf="cartItemsCount == '0' || cartItemsCount == undefined; else cartContainsData">
        <button (click)="moveToCart()" class="btn mx-2 btn-w"><span class="material-icons">shopping_cart</span><p class="b-text">Корзина</p></button>
    </div>
    <ng-template #cartContainsData>
        <button (click)="moveToCart()" class="btn mx-2 btn-w"><span class="material-icons">shopping_cart</span><p class="b-text">Корзина: {{cartItemsCount}}</p></button>
    </ng-template>
    <div *ngIf="isUserLogged; else auth">
        <button class="btn mx-2 btn-w" routerLink="/auth/"><span class="material-icons">person</span><p class="b-text">Вход</p></button>
    </div>
    <ng-template #auth>
        <button class="btn mx-2" routerLink="/account/"><span class="material-icons">person</span><p class="b-text">{{loggedUser}}</p></button>
    </ng-template>
</div>
