*, body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
}

a {
    color: black;
    font-size: 12px;
    text-decoration: none;
}

li {
    cursor: pointer;
}

.nav-link {
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.form-control {       
    color: black;
    font-size: 14px;
    line-height: 17px;
    border-radius: 8px;

    transition-timing-function: linear;
    transition: .3s;

    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.form-control:active,
.form-control:focus {
    background-color: #E1F4FF;
}

.input-group {
    padding-top: 5px;
    height: 30px;
    width: 600px;
}

@media only screen and (max-width: 1280px) {
    .input-group {
        padding-top: 5px;
        height: 30px;
        width: 300px;
    }
}

.nav-container {
    width: 100%;
    background-color: #FF5286;
    
    padding-left: 14%;
    padding-right: 14%;

    position: flex;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    padding-top: 5px;
    padding-bottom: 5px;
}

.inf-container {
    position: flex;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    align-content: flex-start;
    justify-content: start;
    padding-left: 14%;

    height: 5%;
    width: 100%;
}

.search-btn {
    color: black;
    font-family: Montserrat;
    
    font-size: 14px;
    line-height: 17px;

    background-color: white;
    width: auto;
    
    height: 35px;
    box-sizing: border-box;
    border-radius: 8px;

    outline: none !important;
    box-shadow: none !important;
    border: none !important;

    transition-timing-function: linear;
    transition: .3s;

    position: flex;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;

    padding: 0 15px;
}

.search-btn:hover {
    background-color: #E1F4FF;
}

.btn-w {
    min-width: 150px;
}

.btn {
    color: white;
    
    font-size: 14px;
    line-height: 17px;
    background-color: #FF5286;
    width: auto;
    height: 40px;

    border: 1px solid white;

    transition-timing-function: linear;
    transition: .3s;

    position: flex;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;

    padding: 0 20px;
}

.b-text {
    padding-left: 5px;
    padding-top: 19px;
}

.btn:hover {
    color: black;
    background-color: white;
}

.btn:focus, 
.btn-outline-primary:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: none !important;
    box-shadow: none !important;
}

.nav {
    position: sticky;
}

.material-icons {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 24px;  /* Preferred icon size */
display: inline-block;
line-height: 1;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
direction: ltr;

/* Support for all WebKit browsers. */
-webkit-font-smoothing: antialiased;
/* Support for Safari and Chrome. */
text-rendering: optimizeLegibility;

/* Support for Firefox. */
-moz-osx-font-smoothing: grayscale;

/* Support for IE. */
font-feature-settings: 'liga';
}