label, p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
}

li, ol {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: black;
    list-style-type: none;    
}

ul {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
}

img {
    object-fit: scale-down;
}

.b-h-text {
    padding-top: 10px;
    font-weight: bold;
}

.top-nav-container {
    position: flex;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: left;

    padding-top: 30px;
}

.m-left {
    margin-left: 14%;
    margin-right: 14%;
}

.p-title {
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 0;
}

.small-title-inf {
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 0;
}

.small-bold-inf {
    font-weight: bolder;
    text-decoration: underline;
    font-size: 16px;
    color: #FF5286;
}

.small-desc-inf {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}

.small-title-ind {
    font-weight: bolder;
    font-size: 20px;
}

.small-desc-ind {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

.p-desc {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
    color: #7D7D7D;
}

.p-small-desc {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
    color: #7D7D7D;
    text-align: center;
}

.p-price {
    font-weight: bold;
    font-size: 26px;

    padding-top: 10px;
}

.b-text {
    padding-left: 5px;
    padding-top: 19px;
}

.count-container {
    position: flex;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;

    width: 300px;
    
    padding-bottom: 15px;
}

.price-container {
    position: flex;
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    align-content: flex-start;
    justify-content: flex-start;

    width: 300px;
}

.image-container {
    position: flex;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 350px;
}

.title-container {
    width: 350px;

    padding-top: 35px;

    position: flex;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
}

.medium-info-container {
    width: 350px;

    position: flex;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;

    padding-top: 35px;
}

.ind-container {
    padding-top: 25px;
    padding-bottom: 25px;

    width: 100%;
    background-color: #E1F4FF;

    padding-left: 14%;
    padding-right: 14%;

    margin-top: 35px;
    

    position: flex;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-between;
    justify-content: space-between;
}

.ind-small-container{
    width: 550px;
}

.btn {
    color: white;
    width: 175px;
    height: 40px;

    font-style: normal;
    
    font-size: 14px;
    line-height: 22px;

    background-color: #FF5286;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: none;

    transition-timing-function: linear;
    transition: .3s;

    position: flex;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;

    margin-left: 15px;
}

.btn:hover {
    color: black;
    background-color: white;
    border-color: #FF5286;
    box-shadow: none;
    cursor: pointer;
}

.stock-badge {
    background-color: #ABFFA9;
    padding: 3px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;

    padding-left: 15px;
    padding-right: 15px;
}

.category-badge {
    background-color: #E1F4FF;
    padding: 3px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;

    padding-left: 15px;
    padding-right: 15px;
}

.info-small-container {
    height: 350px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.btn-add {
    height: 40px;
    width: 40px;
    background-color: #E1F4FF;
    box-sizing: border-box;

    border-radius: 0 5px 5px 0;
    border: none !important;

    font-weight: bold;
    font-size: 18px;

    transition-timing-function: linear;
    transition: .3s;
}

.btn-reduce {
    height: 40px;
    width: 40px;
    background-color: #E1F4FF;
    box-sizing: border-box;

    border-radius: 5px 0 0 5px;
    border: none !important;

    font-weight: bold;
    font-size: 18px;

    transition-timing-function: linear;
    transition: .3s;
}

.count-item-input {
    width: 40px;
    height: 40px;
    text-align: center;

    outline: none !important;
    border: none !important;

    background-color: #E1F4FF;

    font-size: 16px;
}

.btn-add:hover, .btn-reduce:hover {
    background-color:  #b0caff;
}

/* Card */

.card {
    zoom: 1;

    width: 300px;
    height: 400px;

    /* margin-left: 15px; */
    margin-right: 15px;
    margin-top: 15px;

    border-radius: 5px;

    transition-timing-function: linear;
    transition: .1s;
}

@media only screen and (max-width: 1280px) {
    .card {
        zoom: 0.7;
    }
}

.p-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}

.p-desc {
    font-weight: 600;
    font-size: 14px;
    color: #7D7D7D;
}

.p-price {
    font-weight: bold;
    font-size: 22px;

    padding-top: 10px;
}

.b-text {
    padding-left: 5px;
    padding-top: 19px;
}

.price-card {
    position: flex;
    display: inline-flex;
    flex-direction: row;
    align-items: space-between;
    align-content: space-between;
    justify-content: space-between;

    width: 250px;
    
    padding-bottom: 15px;
}

.popular-items-container {
    position: flex;
    /* display: inline-flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center; */

    /* width: 100%; */
    margin-right: 15%;
    margin-left: 15%;

    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
}

.card:hover {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
}

.picture-card {
    margin: auto;
}

.btn-p {
    color: white;
    width: 135px;
    height: 40px;
    outline: none !important;
    border: 1px solid #FF5286;

    font-style: normal;
    
    font-size: 14px;
    line-height: 22px;

    background-color: #FF5286;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: none;

    transition-timing-function: linear;
    transition: .3s;

    position: flex;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;

    margin-left: 15px;
}

.btn-p:hover {
    color: black;
    background-color: white;
    border-color: #FF5286;
    box-shadow: none;
    cursor: pointer;
}

.stock-badge-card {
    background-color: #ABFFA9;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
}