p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

h5 {
    font-weight: bold;
    padding-bottom: 10px;
}

:host ::ng-deep .p-slider  {
    background: white;
}

:host ::ng-deep .p-slider-range  {
    background: #FF5286;
}

:host ::ng-deep .p-slider-handle {
    background: white;
    border-color: #FF5286;
}

:host ::ng-deep .p-slider .p-slider-handle:focus {
    box-shadow: 0 0 0 0.2rem #ff9ebb
}

:host ::ng-deep .p-slider:not(.p-disabled) .p-slider-handle:hover {
    background: #FF5286;
    border-color: #FF5286;
}

.search-item-component {
    background-color: #E1F4FF;
    padding: 25px;
    width: 350px;
    height: 145px;
    border-radius: 10px;
    margin-top: 15px;
}

.small-desc {
    padding-top: 10px;
}

.btn {
    color: white;
    width: 135px;
    height: 40px;

    font-style: normal;
    
    font-size: 14px;
    line-height: 22px;

    background-color: #FF5286;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: none;

    transition-timing-function: linear;
    transition: .3s;

    position: flex;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;

    margin-left: 15px;
}

.wrapper {
    position: flex;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}

.large-btn {
    width: 350px;
    margin: 0;
    padding: 0;
}

.btn:hover {
    color: black;
    background-color: white;
    border-color: #FF5286;
    box-shadow: none;
    cursor: pointer;
}

.b-text {
    padding-left: 5px;
    padding-top: 18px;
    
}


/* nav */

li, ol {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: black;
    list-style-type: none;    
}

ul {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
}

.title-container {
    position: flex;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.top-nav-container {
    position: flex;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: left;

    padding-top: 30px;
}

.m-left {
    margin-left: 14%;
    margin-right: 14%;
}

.b-h-text {
    padding-top: 10px;
    font-weight: bold;
}

.find-items-container {
    position: flex;
    /* display: inline-flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center; */

    /* width: 100%; */
    margin-top: 40px;
    margin-left: 25px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.search-label {
    font-size: 20px;
    font-weight: bold;
}

.emoji-label {
    font-size: 48px;
    font-weight: bold;
}

.price-card {
    position: flex;
    display: inline-flex;
    flex-direction: row;
    align-items: space-between;
    align-content: space-between;
    justify-content: space-between;

    width: 250px;
    
    padding-bottom: 15px;
}

.empty-panel {
    height: 400px;
    width: 100%;
    position: flex;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.bold-text {
    font-weight: bold;
}

img {
    object-fit: scale-down;
    cursor: pointer;
}

.card {
    zoom: 1;

    width: 300px;
    height: 400px;

    /* margin-left: 15px; */
    margin-right: 15px;
    margin-top: 15px;

    border-radius: 5px;

    transition-timing-function: linear;
    transition: .1s;
}

@media only screen and (max-width: 1280px) {
    .card, .search-item-component, .btn {
        zoom: 0.7;
    }
}

.p-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}

.p-desc {
    font-weight: 600;
    font-size: 14px;
    color: #7D7D7D;
}

.p-price {
    font-weight: bold;
    font-size: 22px;

    padding-top: 10px;
}

.stock-badge-card {
    background-color: #ABFFA9;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
}

.card:hover {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
}

.picture-card {
    margin: auto;
}

.outofstock-badge-card {
    background-color: #FF5286;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
}