<div class="m-left">
    <div class="top-nav-container">
        <nav aria-label="breadcrumb" class="ms-2">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Главная</a></li>
            <li class="breadcrumb-item"><a routerLink="/categories">Каталог</a></li>
            <li class="breadcrumb-item active" aria-current="page">Поиск лекарств</li>
            </ol>
        </nav>

        <div class="title-container">
            <h2 class="b-h-text ms-2" style="color: black">ПОИСК ЛЕКАРСТВ</h2>
        </div>
    </div>
</div>


<div class=" m-left">
    <p class="ms-2 mt-3">По запросу <span class="search-label">{{searchName}}</span> найдено результатов <span class="b-h-text search-label">{{itemsCount}}</span></p>
    <div class="find-items-container" *ngIf="itemsCount > 0; else emptySearch">
            <div class="card" *ngFor="let item of items$ | async ">
                <div *ngIf="item.image == null; else loadImage">
                    <span class="material-icons mx-3" style="font-size: 96px; padding-left: 90px; padding-bottom: 70px; padding-top: 70px;">image</span>
                </div>
            
                <ng-template #loadImage>
                    <img (click)="moveToItem(item.id)" class="picture-card" src="{{item.image}}" width="170x" height="170px">
                </ng-template>
            
                <div class="title-card mx-4" >
                    <span class="stock-badge-card">В наличии</span>
                    <p class="p-title">{{item.name}}</p>
                    <p class="p-desc">{{item.itemContent}}</p>
                    
                </div>
                <div class="price-card mx-4">
                    <p class="p-price">{{item.price}} ₽</p>
                    <button (click)="addToCart(item.id, 1)" class="btn"><span class="material-icons">add_shopping_cart</span><p class="b-text">В корзину</p></button>
                </div>
            </div>
        </div>
    </div>

<ng-template #emptySearch>
    <div class="empty-panel">
        <span class="emoji-label">o(TヘTo)</span> 
        <p>Попробуйте снова, указав другое название!</p>
    </div>
</ng-template>
