<div class="m-left">
    <div class="top-nav-container">
        <nav aria-label="breadcrumb" class="ms-2">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Каталог</li>
            </ol>
        </nav>

        <div class="title-container">
            <h2 class="b-h-text ms-2" style="color: black">КАТАЛОГ</h2>
        </div>
    </div>
</div>

<div class="m-left ps-2">
    <div class="categories-container">
        <div class="row-1">
            <ul>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'1', 'sortState':'2'}">АЛЛЕРГИЯ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'2', 'sortState':'2'}">ГРИПП, ПРОСТУДА, ОРЗ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'3', 'sortState':'2'}">РЕЦЕПТУРНЫЕ ТОВАРЫ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'4', 'sortState':'2'}">СУСТАВЫ И МЫШЦЫ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'5', 'sortState':'2'}">ВИТАМИНЫ и БАДы</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'6', 'sortState':'2'}">ДЕРМАТОЛОГИЯ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'7', 'sortState':'2'}">НЕВРОЛОГИЯ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'8', 'sortState':'2'}">ЖЕНСКОЕ ЗДОРОВЬЕ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'9', 'sortState':'2'}">ЖЕЛУДОК, КИШЕЧНИК И ПЕЧЕНЬ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'10', 'sortState':'2'}">ГИГИЕНА</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'11', 'sortState':'2'}">ЗАБОЛЕВАНИЯ ВЕН</a></li>
            </ul>
        </div>

        <div class="row-2 ps-5">
            <ul>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'12', 'sortState':'2'}">КОСМЕТИКА</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'13', 'sortState':'2'}">МАМА И МАЛЫШ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'14', 'sortState':'2'}">УРОЛОГИЯ И НЕФРОЛОГИЯ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'15', 'sortState':'2'}">МЕД.ТЕХНИКА</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'16', 'sortState':'2'}">ЛЕЧЕНИЕ ОРГАНОВ СЛУХА И ЗРЕНИЯ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'17', 'sortState':'2'}">ПЕРЕВЯЗКА И МЕД.ИЗДЕЛИЯ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'18', 'sortState':'2'}">БОЛЬ И ТЕМПЕРАТУРА</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'19', 'sortState':'2'}">ТРАВЫ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'20', 'sortState':'2'}">АРОМАТЕРАПИЯ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'21', 'sortState':'2'}">СЕЗОННЫЕ ТОВАРЫ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'22', 'sortState':'2'}">ОПТИКА</a></li>
            </ul>
        </div>

        <div class="row-2 ps-5">
            <ul>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'23', 'sortState':'2'}">ПРОДУКТЫ ПИТАНИЯ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'24', 'sortState':'2'}">ПОХУДЕНИЕ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'25', 'sortState':'2'}">РАЗНОЕ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'26', 'sortState':'2'}">ОРТОПЕДИЯ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'27', 'sortState':'2'}">ГОМЕОПАТИЯ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'28', 'sortState':'2'}">ВРЕДНЫЕ ПРИВЫЧКИ</a></li>
                <li class="list-item"><a [routerLink]="['search']" [queryParams]="{'categoriesId':'29', 'sortState':'2'}">ИНТИМНЫЕ ОТНОШЕНИЯ</a></li>
            </ul>
        </div>
    </div>
</div>