<div class="m-left">
    <div class="top-nav-container">
        <nav aria-label="breadcrumb" class="ms-2">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/auth">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Каталог</li>
            </ol>
        </nav>

        <div class="title-container">
            <h2 class="b-h-text ms-2" style="color: black">КАТАЛОГ</h2>
        </div>
    </div>
</div>

<div class="m-left ps-2">
    <div class="categories-container">
        <div class="row-1">
            <ul>
                <li class="list-item">АЛЛЕРГИЯ</li>
                <li class="list-item">ГРИПП, ПРОСТУДА, ОРЗ</li>
                <li class="list-item">РЕЦЕПТУРНЫЕ ТОВАРЫ</li>
                <li class="list-item">СУСТАВЫ И МЫШЦЫ</li>
                <li class="list-item">ВИТАМИНЫ и БАДы</li>
                <li class="list-item">ДЕРМАТОЛОГИЯ</li>
                <li class="list-item">НЕВРОЛОГИЯ</li>
                <li class="list-item">ЖЕНСКОЕ ЗДОРОВЬЕ</li>
                <li class="list-item">ЖЕЛУДОК, КИШЕЧНИК И ПЕЧЕНЬ</li>
                <li class="list-item">ГИГИЕНА</li>
                <li class="list-item">ЗАБОЛЕВАНИЯ ВЕН</li>
            </ul>
        </div>

        <div class="row-2 ps-5">
            <ul>
                <li class="list-item">КОСМЕТИКА</li>
                <li class="list-item">МАМА И МАЛЫШ</li>
                <li class="list-item">УРОЛОГИЯ И НЕФРОЛОГИЯ</li>
                <li class="list-item">МЕД.ТЕХНИКА</li>
                <li class="list-item">ЛЕЧЕНИЕ ОРГАНОВ СЛУХА И ЗРЕНИЯ</li>
                <li class="list-item">ПЕРЕВЯЗКА И МЕД.ИЗДЕЛИЯ</li>
                <li class="list-item">БОЛЬ И ТЕМПЕРАТУРА</li>
                <li class="list-item">ТРАВЫ</li>
                <li class="list-item">АРОМАТЕРАПИЯ</li>
                <li class="list-item">СЕЗОННЫЕ ТОВАРЫ</li>
                <li class="list-item">ОПТИКА</li>
            </ul>
        </div>

        <div class="row-2 ps-5">
            <ul>
                <li class="list-item">ПРОДУКТЫ ПИТАНИЯ</li>
                <li class="list-item">ПОХУДЕНИЕ</li>
                <li class="list-item">РАЗНОЕ</li>
                <li class="list-item">ОРТОПЕДИЯ</li>
                <li class="list-item">ГОМЕОПАТИЯ</li>
                <li class="list-item">ВРЕДНЫЕ ПРИВЫЧКИ</li>
                <li class="list-item">ИНТИМНЫЕ ОТНОШЕНИЯ</li>
            </ul>
        </div>
    </div>
</div>